<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blueberrysolution.pinelib21">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--安装APP-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <application>
        <provider
            android:name="com.pine.lib.provider.background_task.BackgroundTaskProvider"
            android:authorities="${applicationId}.PineDebugInit"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.pine.lib.view.db.db_choose.DbChooseActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


    </application>
</manifest>